<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>
  <!-- 매칭 입력 -->
  <div id="main-field">
    <h1 class="title">Hi! 3 people matcing System</h1>
    <input type="text" name="name" id="name" />
    <button id="start" class="btn">start matching!</button>
  </div>

  <!-- 로딩창 -->
  <div id="loading-field">
    <h1 class="title">Matching Loading...</h1>
    <div id="user">
      <ol id="user-list">
      </ol>
    </div>
    <button id="stop" class="btn">stop matching</button>
  </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/index.js"></script>
</html>